@import 'element-plus/dist/index.css';
@import './monokai.scss';

.dark {
  --themeBgcolor: #1D1D1D;
  --themeTextColor: #FFFFFF;
  --themeCodeBgColor: #ffffff3b;
  --themeMarkdownColor: #FFFFFF;
  --themeMarkBgdownColor: #ffffff3b;
  --themeMarkdownBorderColor: #a2a2a2;
  --themeBannerColor: #1D1D1D;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  font-family: Dosis, Open Sans, pingfang SC, -apple-system, Helvetica Neue, Helvetica, Arial, PingFang SC, PingFang TC, Hiragino Sans GB, Microsoft Yahei, Microsoft Jhenghei, sans-serif;
  line-height: 1.5;
}

@font-face {
  font-family: "Dosis";
  src: url("@/assets/font/Dosis.woff2");
}

html,
body {
  color: $themeTextColor;
  background-color: $themeBgcolor;

  #banner_canvas {
    background: linear-gradient($themeBannerColor, #fffffb);
  }


  ._markdown_body {
    color: $themeTextColor;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 2px;
    word-break: break-word;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
    background-image: linear-gradient(0deg,
        transparent 24%,
        rgba(201, 195, 195, 0.329) 25%,
        hsla(0, 8%, 80.4%, 0.05) 26%,
        transparent 27%,
        transparent 74%,
        hsla(0, 5.2%, 81%, 0.185) 75%,
        rgba(180, 176, 176, 0.05) 76%,
        transparent 77%,
        transparent),
      linear-gradient(90deg,
        transparent 24%,
        rgba(204, 196, 196, 0.226) 25%,
        hsla(0, 4%, 66.1%, 0.05) 26%,
        transparent 27%,
        transparent 74%,
        hsla(0, 5.2%, 81%, 0.185) 75%,
        rgba(180, 176, 176, 0.05) 76%,
        transparent 77%,
        transparent);
    // background-color: $themeBgcolor;
    background-size: 50px 50px;
    padding-bottom: 60px;

    &::selection {
      color: #fff;
      background-color: $themeMarkdownColor;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 24px 0 12px;
      color: $themeMarkdownColor;
    }

    h1 {
      line-height: 2;
      font-size: 1.4em;
    }

    h1~p:first-of-type:first-letter {
      color: $themeMarkdownColor;
      float: left;
      font-size: 2em;
      margin-right: 0.4em;
      font-weight: bolder;
    }

    h2 {
      font-size: 1.2em;
    }

    h3 {
      font-size: 1.1em;
    }

    ol,
    ul {
      padding-left: 2em;
    }

    ol li,
    ul li {
      margin-bottom: 0;
      padding-left: 0.2em;
    }

    ol li::marker,
    ul li::marker {
      color: $themeMarkdownColor;
    }

    ol li.task-list-item,
    ul li.task-list-item {
      list-style: none;
    }

    ol li.task-list-item ol,
    ol li.task-list-item ul,
    ul li.task-list-item ol,
    ul li.task-list-item ul {
      margin-top: 0;
    }

    ol ol,
    ol ul,
    ul ol,
    ul ul {
      margin-top: 10px;
    }

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    p {
      opacity: 0.85;
      vertical-align: baseline;
      transition: all 0.1s ease;
    }

    a:hover,
    code:hover,
    h1:hover,
    h2:hover,
    h3:hover,
    h4:hover,
    h5:hover,
    h6:hover,
    li:hover,
    p:hover {
      opacity: 1;
    }

    a {
      display: inline-block;
      color: $themeMarkdownColor;
      cursor: pointer;
      text-decoration: none;
      position: relative;
    }

    a:after {
      content: "";
      position: absolute;
      width: 98%;
      height: 1px;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      background-color: $themeMarkdownColor;
      transform-origin: bottom right;
      transition: transform 0.3s ease-in-out;
    }

    a:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    a:active,
    a:link {
      color: $themeMarkdownColor;
    }

    img {
      max-width: 100%;
      user-select: none;
      margin: 2em 0;
      transition: transform 0.2s ease 0s;
      background-color: $themeMarkdownBgColor;
      box-shadow: 0 0 10px $themeMarkdownBorderColor;
    }

    img:hover {
      opacity: 1;
      box-shadow: 0 0 20px $themeMarkdownBorderColor;
      transform: translateY(-1px);
    }

    blockquote {
      padding: 0.5em 1em;
      margin: 12px 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      border-left: 3px solid $themeMarkdownColor;
      background-color: $themeMarkdownBgColor;
    }

    blockquote>p {
      margin: 0;
    }

    .math {
      font-style: italic;
      margin: 12px 0;
      padding: 0.5em 1em;
      background-color: $themeMarkdownBgColor;
    }

    .math>p {
      margin: 0;
    }

    pre {
      margin: 2em 0;

      code {
        padding: 2px 0.4em;
        overflow-x: auto;
        color: $themeMarkdownColor;
        font-weight: 700;
        word-break: break-word;
        font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
        background-color: $themeCodeBgColor;
        position: relative;
        padding-top: 3.5rem !important;

        &::after {
          position: absolute;
          left: 0rem;
          top: 0rem;
          width: 100%;
          height: 32px;
          background: #cccccc4a;
          content: " ";
        }

        &::before {
          position: absolute;
          z-index: 1;
          left: 0.7rem;
          top: 0.7rem;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #fc625d;
          box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
          content: " ";
        }
      }
    }

    pre>code {
      display: block;
      padding: 1.5em;
      word-break: normal;
      font-size: 0.9em;
      font-style: normal;
      font-weight: 400;
      font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
      line-height: 18px;
      color: #383838;
      border-radius: 2px;
      scroll-behavior: smooth;
      box-shadow: 0 0 10px $themeMarkdownBorderColor;
    }

    pre>code:hover {
      box-shadow: 0 0 20px $themeMarkdownBorderColor;
    }

    pre>code::-webkit-scrollbar {
      height: 6px;
      background-color: $themeMarkdownBgColor;
    }

    pre>code::-webkit-scrollbar-thumb {
      background-color: $themeMarkdownBorderColor;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    hr {
      margin: 2em 0;
      border-top: 1px solid $themeMarkdownColor;
    }

    table {
      width: 100%;
      font-size: 12px;
      max-width: 100%;
      overflow: auto;
      border-collapse: collapse;
    }

    thead {
      color: $themeMarkdownColor;
      background: $themeMarkdownBgColor;
    }

    td,
    th {
      padding: 0.5em;
      border: 1px solid $themeMarkdownBorderColor;
    }

    tr {
      background-color: $themeMarkdownBgColor;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 1px;
  background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background-color: #C1C1C1;
}

.listLeftIn {
  animation: listLeftIn 1s linear;

  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 50ms;
  }

  &:nth-child(3) {
    animation-delay: .1s;
  }

  &:nth-child(4) {
    animation-delay: .15s;
  }

  &:nth-child(5) {
    animation-delay: .2s;
  }

  &:nth-child(6) {
    animation-delay: .25s;
  }

  &:nth-child(7) {
    animation-delay: .3s;
  }

  &:nth-child(8) {
    animation-delay: .35s;
  }

  &:nth-child(9) {
    animation-delay: .4s;
  }

  &:nth-child(10) {
    animation-delay: .45s;
  }

  &:nth-child(11) {
    animation-delay: .5s;
  }

  &:nth-child(12) {
    animation-delay: .55s;
  }

  &:nth-child(13) {
    animation-delay: .6s;
  }

  &:nth-child(14) {
    animation-delay: .65s;
  }

  &:nth-child(15) {
    animation-delay: .7s;
  }

  &:nth-child(16) {
    animation-delay: .75s;
  }

  &:nth-child(17) {
    animation-delay: .8s;
  }

  &:nth-child(18) {
    animation-delay: .85s;
  }

  &:nth-child(19) {
    animation-delay: .9s;
  }

  &:nth-child(20) {
    animation-delay: .95s;
  }
}

@keyframes listLeftIn {
  0% {
    transform: translateX(-50px);
    opacity: 0
  }

  100% {
    transform: translateX(0);
    opacity: 1
  }
}

@media (max-width: 720px) {
  ._markdown_body {
    font-size: 12px;
  }
}