// 默认
$themeBgcolor: var(--themeBgcolor, #ffffff); // 背景色
$themeTextColor: var(--themeTextColor, #000000); // 文字色
$themeCodeBgColor: var(--themeCodeBgColor, #f8f8f8); // md Code标签背景色
$themeMarkdownColor: var(--themeMarkdownColor, #35cb00); // md主色调
$themeMarkdownBgColor: var(--themeMarkBgdownColor, #daf5d0); // md模块背景色
$themeMarkdownBorderColor: var(--themeMarkdownBorderColor, #b0f895); // md表格线条背景色
$themeBannerColor: var(--themeBannerColor, #d3f2c8); // banner色