
// 默认
$themeBgcolor: var(--themeBgcolor, #ffffff); // 背景色
$themeTextColor: var(--themeTextColor, #000000); // 文字色
$themeMarkdownColor: var(--themeMarkdownColor, #35cb00); // md主色调
$themeBannerColor: var(--themeBannerColor, #d3f2c8); // banner色